<div class="home-container">
    <app-card 
    id="0"
    gameCover="assets/God-of-war.jpg"
    gameLabel="Exclusivo"
    gamePricing="R$ 100,00"
    gameInfo="Action"
    ></app-card>
    <app-card 
    id="1"
    gameCover="assets/SpiderMan2PS5.jpeg"
    gameLabel="Em breve"
    gamePricing="R$ 249,99"
    gameInfo="Adventure"
    ></app-card>
    <app-card 
    id="2"
    gameCover="assets/zero.webp"
    gameLabel="Digital"
    gamePricing="R$ 249,99"
    gameInfo="Adventure"
    ></app-card>    
    <app-card 
    id="3"
    gameCover="assets/Unit.webp"
    gameLabel="Digital"
    gamePricing="R$ 249,99"
    gameInfo="Action"
    ></app-card>
    <app-card 
    id="4"
    gameCover="assets/RDR2.jpg"
    gameLabel="Digital"
    gamePricing="R$89,90"
    gameInfo="Adventure"
    ></app-card>
    <app-card
    gameCover="assets/tekken.jpg"
    gameLabel="Digital"
    gamePricing="R$79,00"
    gameInfo="Fight"
    >
    </app-card>
</div>