<div class="home-container">
    <app-card 
    id="0"
    gameCover="assets/God-of-war.jpg"
    gameLabel="Exclusivo"
    gamePricing="R$ 100,00"></app-card>
    <app-card 
    id="1"
    gameCover="assets/SpiderMan2PS5.jpeg"
    gameLabel="Em breve"
    gamePricing="R$ 249,99"></app-card>
    <app-card gameCover="assets/zero.webp"
    gameLabel="Digital"
    gamePricing="R$ 249,99"></app-card>    
    <app-card gameCover="assets/Unit.webp"
    gameLabel="Digital"
    gamePricing="R$ 249,99"></app-card>
</div>