<section class="game-section">
<div class="game-select">
    <div class="game">
        <img class="card-img" [src]="[gameCover]" alt="">
        <app-card-value-content
        gameName="{{gameName}}"
        gamePricing="{{gamePricing}}"
        ></app-card-value-content>
    </div>
</div>
<div class="download">
    <div class="right">
        <div class="sinopse">
            <h1>{{gameName}}</h1>
            <p>{{ gameType }}</p>
        </div>
        <div class="downloads">
            <button>Download for console</button>
            <button>Download for PC</button>
        </div>
    </div>
    </div>
</section>